*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-ph-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-ph-latest.csv filter=lfs diff=lfs merge=lfs -text
